.to-do__input {
  flex-grow: 1;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border: 2px solid transparent;
  outline: none;
  background-color: #1c1c1c;
  color: #fff;
}

.to-do__input::placeholder {
  color: #777;
}

.to-do__input:focus {
  border-color: #4f8cff;
}
